<header class='header'>
    <h3>Search App</h3>
    <nav>
        <ul class='list-container'>
            <li> <%= link_to "Articles", root_path, class: "links" %></li>
            <li>
            <%= link_to "Analytics", searches_path, class: "links" %>
          </li>
        </ul>
    </header>