
<article class="article-preview">
  <header class="article-preview__header">
    <h2 class="article-preview__title">
      <%= article.title %>
    </h2>

  </header>
  <p class="article-preview__body">
    <%=article.body %>
  </p>
</article>